$headings-font-family:"Times new Roman",Times,serif;

$headings-color:#284876;

$input-btn-border-width:2;
$input-btn-border-color:$headings-color;

$paragraph-margin-bottom : 1rem;

$color-contrast-dark:#FFA500;

$link-hover-color: #FFA500;
$btn-font-size:  1.5rem;
            
$btn-font-family: serif;
$btn-link-hover-color: #FFA500;
$card-bg:#FCFCFC;

$btn-link-color: #FFA500;
$navbar-toggler-font-size:2rem;
$navbar-dark-brand-color:  #FFA500;
$navbar-dark-color:  #FCFCFC ;

//For the body 
//$body-bg:#04040C;

//LA couleur primaire
$primary :#284876;